body{
  overflow: hidden;
  background-color: grey;
}
#outer-window{
  height: 400px;
  width: 400px;
  position: absolute;
  background-color: #ADEBEB;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #DBDBDB;
}
#contain {
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
}

#question-container{
  height: 100px;
}
#question {
  font-size: 40px;
  width: 200px;
  height: 40px; 
  position: absolute;
  margin-top: 20px;
  margin-left: 60px;
}
#question-number{
  color: grey;
  font-size: 30px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 29px;
  margin-left: 10px;
}

#ui-Number{
  width: 290px;
  height: 50px;
}
#but-NewRound{
  width: 290px;
  height: 60px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 200;
}
#title{
  line-height: 1px;
}
#pregame{
  height: 200px;
}
#ingame{
  height: 200px;
}
#ingame-bottom{
  display: inline;
}
#response-container{
  float: left;
  height: 30px;
  width: 100px;
}
#exit-container{
  height: 30px;
  margin-top: 5px;
  margin-right: 12px;
  float: right;
  cursor: pointer; cursor: hand; 
  color: grey;
  font-size: 14px;
  -webkit-transition: color 0.2s ease-in; /*safari and chrome */
  -o-transition: color 0.2s ease-in; /* opera */
}
#exit-container p{
  margin-top: 5px;
  float: right;
}
#exit-container:hover { 
 color: black;
}

input[type="text"] {
  width: 290px;
  height: 50px;
    padding: 5px 5px;
  border: 0px solid black;
  border-bottom: 1px solid white;
  border-left:1px solid white;
  background-color: #BDEFEF;
  font-family: Roboto;
  font-weight: 200;
  font-size: 18px;
}
.button {
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  border: 1px solid white;
  color:#000;
  text-decoration:none;
  background: #C6F1F1;
  -webkit-transition: background-color 0.1s ease-in; /*safari and chrome */
  -o-transition: background-color 0.1s ease-in; /* opera */
}
.button:hover{
  background-color: #EBFAFA;
}
h3 {
  font-size: 65px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 100;
}
p{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 200;
}
